@using BBMS
@using BBMS.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<form method="post">

    <div class="container mt-2 ">
        <h3 class="display-4 m-3 text-lg-center" style="font-size:25px">Request History</h3>
        @if (ViewBag.IsSuccess == false)
        {
            <div class="container">
                <div class="offset-3 alert-danger alert-dismissible fade show w-50 text-center" role="alert">
                    <strong>Sorry We can't Accept Request due to insufficient stock.</strong>
                </div>
            </div>
        }
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Disease</th>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            @{
                int i = 1;
            }
        <tbody>
            @foreach (var item in Model)
            {
                if (item.RequestStatus.ToString() == "Accepted" || item.RequestStatus.ToString() == "Rejected")
                {
                    <tr class="text-center">

                        <td>@(i++)</td>
                        <td>@item.PetientName</td>
                        <td>@item.PetientAge</td>
                        <td>@item.Disease</td>
                        <td>@item.BloodGroup</td>
                        <td>@item.Unit</td>
                        <td>@item.RequestDate</td>
                        @if (item.RequestStatus.ToString() == "Accepted")
                        {

                            <td class="text-green text-center">@item.RequestStatus</td>
                            <td class="text-green">@item.Unit Unit Deducted from Stock.</td>
                        }
                        else
                        {
                            <td class="text-red">@item.RequestStatus</td>
                            <td class="text-red">Request Rejected.</td>
                        }
                    </tr>
                }

            }
        </tbody>
        </table>
    </div>
</form>

